h2,
h3,
h4 {
  text-align: center;
}

hr {
    max-width: 75%;
}

.lien, .versets, .comment {
    display: flex;
    justify-content: center;
}

p {
    text-align: justify;
    max-width: 60%;
}

a {
    color: black;
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
}