h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
    max-width: 60%;
}

hr {
    max-width: 75%;
}

.center {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
}