.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.box {
    padding: 30px;
    margin: 20px;
}

p {
    text-align: justify;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
}