h2 {
    text-align: center;
}

p {
    text-align: justify;
    max-width: 60%;
}

.item {
    display: flex;
    justify-content: center;
}

.sign {
    display: flex;
    justify-content: right;
}

.container {
    margin: 50px;
}

@media (max-width: 768px) {
    p {
        max-width: 90%;
    }
}