h2,
h3 {
  text-align: center;
}

h3 {
  max-width: 75%;
}

.titre {
  display: flex;
  justify-content: center;
}

.container {
  margin: 40px;
}

p {
  text-align: justify;
  max-width: 50%;
}

.items {
  display: flex;
  justify-content: center;
}

.sign {
  display: flex;
  justify-content: right;
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
}
