.alimar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container {
  margin: 40px;
}

h2,
.italic {
  text-align: center;
}

@media (max-width: 768px) {
  .alimar {
    flex-wrap: wrap;
  }
}