body {
  margin: 0;
  padding: 0;
}

main {
  background: #faedad;
  background: radial-gradient(
    circle,
    rgba(250, 237, 173, 1) 0%,
    rgba(198, 148, 87, 1) 65%,
    rgba(81, 51, 31, 1) 100%
  );
  padding: 20px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  width: 150px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: start;
}

header {
  background-color: #020101;
  color: white;
  padding: 10px;
}

li {
  list-style: none;
}

nav a {
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }
}
